{% extends 'base.html' %}

{% block application %}

     <div class="d-flex justify-content-center flex-column">
        <ul class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            {% for registry in registries %}
                <li class="nav-item mt-2" role="presentation">
                    {% if loop.index == 1 %}
                        <button class="nav-link active bg-gradient {% if session['theme'] == 'dark' %} link-light {% else %} link-dark {% endif %}" id="i{{ loop.index }}-tab" data-bs-toggle="tab" data-bs-target="#i{{ loop.index }}-tab-pane"
                            type="button" role="tab" aria-controls="i{{ loop.index }}-tab-pane" aria-selected="true">{{ registry.name }}</button>
                    {% else %}
                        <button class="nav-link bg-gradient {% if session['theme'] == 'dark' %} link-light {% else %} link-dark {% endif %}" id="i{{ loop.index }}-tab" data-bs-toggle="tab" data-bs-target="#i{{ loop.index }}-tab-pane"
                            type="button" role="tab" aria-controls="i{{ loop.index }}-tab-pane" aria-selected="true">{{ registry.name }}</button>
                    {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="d-flex mt-4">
            <div class="col-8 d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-funnel-fill mx-1" viewBox="0 0 16 16">
                     <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"></path>
                </svg>
                <input class="form-control repository-search" placeholder="{{ _("Name") }}" type="text" id="repository-search">
            </div>


            <div class="{% if enable_count_tags %} d-flex {% else %} d-none {% endif %} align-items-center ps-2 col-4">
                <input type="checkbox" class="form-check-input check-show-without-tags" id="check-show-without-tags">
                <label for="check-show-without-tags" class="ps-1">{{ _("Show images without tags") }}</label>
            </div>
        </div>
         <div class="tab-content" id="registryTabContent">
             {% for registry in registries %}
                    <div class="tab-pane fade show {% if loop.index == 1 %} active {% endif %}" id="i{{ loop.index }}-tab-pane" role="tabpanel" aria-labelledby="i{{ loop.index }}-tab" tabindex="{{ loop.index }}">
                        <table class="table table-striped table-hover mt-4 table-responsive-sm table-responsive-md">
                            <thead>
                                <tr class="">
                                    <th class="col-9 ">
                                        {{ _("Name") }}
                                        <span data-toggle="tooltip" data-placement="top" title="{{ _('Name of the repository') }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
                                            </svg>
                                        </span>
                                    </th>
                                    {% if enable_count_tags %}
                                    <th class="col-1 text-center">
                                        {{ _("Tags count") }}
                                        <span data-toggle="tooltip" data-placement="top" title="{{ _('Number of available tags in a given repository') }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
                                            </svg>
                                        </span>
                                    </th>
                                    {% endif %}
                                    {% if registry.isDeletable %}
                                    <th class="col-2 text-center">
                                        {{ _("Delete repository") }}
                                        <span data-toggle="tooltip" data-placement="top" title="{{ _('Deletion of all image tags in the repository') }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
                                            </svg>
                                        </span>
                                    </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for repository in registry.repositories %}
                                {% if enable_count_tags %}
                                    {%  set count_tags = count_repository_tags(registry, repository) %}
                                {% endif %}
                                <tr id="repository-{{ loop.index }}" class="repository-row">
                                    <td>
                                        {% if count_tags == 0 %}
                                            <span class="text-danger repository-name">{{ repository }}</span>
                                        {% else %}
                                            {% set encoded_repository = repository|quote_plus %}
                                            <a class="{% if session['theme'] == 'dark' %} link-light {% else %} link-dark {% endif %} link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-50-hover repository-name" href="{{ url_for('registry.repository_explorer', registry_name=registry.name, repository=encoded_repository) }}">{{ repository }}</a>
                                        {% endif %}
                                    </td>
                                    {% if enable_count_tags %}
                                    <td class="col-1 text-center count-tags" >{{ count_tags }}</td>
                                    {% endif %}
                                    {% if registry.isDeletable %}
                                    <td class="col-1 text-center">
                                        <a class="{% if session['theme'] == 'dark' %} link-light {% else %} link-dark {% endif %} link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-50-hover" href="{{ url_for('registry.delete_tags', registry_name=registry.name, repository=encoded_repository) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" role="button" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                            </svg>
                                        </a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
             {% endfor %}
        </div>
    </div>
    <script>
    const repositoryFieldSearch = document.querySelector('#repository-search')
    const repositoryCheckbox = document.querySelector('#check-show-without-tags')
    const repositoriesRow = document.querySelectorAll('.repository-row')

    repositoryFieldSearch.addEventListener('input', filterImages)
    repositoryCheckbox.addEventListener('change', filterImages)

    function filterImages(){
        let repositoryFieldSearchValue = repositoryFieldSearch.value.trim().toLowerCase();
        let repositoryCheckboxValue = repositoryCheckbox.checked

        repositoriesRow.forEach(function (row){
            let repoCountTag = Number(row.querySelector('.count-tags').innerText);
            let repoName = row.querySelector('.repository-name').innerText;

            let isRowContainsName = repoName.includes(repositoryFieldSearchValue.toLowerCase());
            let isRowCounterTagEqualsZero = repoCountTag === 0;

            row.className = isRowContainsName ? 'table-row repository-row' : 'none repository-row';

            if(!isRowContainsName){
                row.className = "d-none repository-row"
            }
            else if(isRowCounterTagEqualsZero && !repositoryCheckboxValue){

                row.className = "d-none repository-row"
            }
            else{
                row.className = "d-table-row repository-row"
            }
        })
    }

    filterImages()

    </script>
{% endblock %}